# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'adopt'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle and Java ${{ matrix.java }}
      run: ./gradlew build -PtestResultsDir=test-results-java-${{ matrix.java }} -PreportingDir=./build/reports-java-${{ matrix.java }}
    - name: Archive test report
      uses: actions/upload-artifact@v4
      with:
        name: test-results-java-${{ matrix.java }}
        path: |
          build/test-results-java-${{ matrix.java }}/test/TEST-*.xml
          build/reports-java-${{ matrix.java }}

# Can not not work, at the moment (current = Gradle 8)
#  gradle-current-test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions/setup-java@v3
#        with:
#          distribution: 'adopt'
#          java-version: 8
#      - uses: gradle/gradle-build-action@v2
#        with:
#          arguments: assemble
#      - uses: gradle/gradle-build-action@v2
#        with:
#          gradle-version: current
#          arguments: test

